<!-- Footer -->
<footer id="globalFooter"
        class="global">
  <div class="inner">
    <div class="row spaced">
      <div class="col contact-details">
        <p>Made by Christos Avdimiotis
          <br>
          <a href="mailto:cs.avdimiotis@gmail.com">cs.avdimiotis@gmail.com</a> 
          <br>
          Thessaloniki, Greece
        </p>
      </div>

      <div class="col social-links">
        <ul>
          <!-- <li><a href="https://www.facebook.com/griflan"
               target="_blank"
               class="uline">Facebook</a></li>
          <li>+</li> -->
          <li><a href="https://www.linkedin.com/in/christos-avdimiotis-79276179/"
               target="_blank"
               class="uline">LinkedIn</a></li>
          <!-- <li>+</li>
          <li><a href="https://dribbble.com/Griflan"
               target="_blank"
               class="uline">Dribbble</a></li> -->
        </ul>
      </div>
    </div>

    <div class="legal">
      <p>Copyright 2020 Christos Avdimiotis <br> All Rights Reserved</p>
    </div>

  </div>
</footer>