<%- include('header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
    <!-- Topnav -->
    <%- include('topnav'); -%>
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 500px; background-size: cover; background-position: center top;">
        <!-- Test here -->
        <div class="col-lg-7 col-md-10 col-sm-10">
            <h1 class="display-2 text-black home-title">This is the test page!</h1>
        </div>


    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Footer -->
        <%- include('footer'); -%>
    </div>
</div>

<!-- Test script here -->
<!-- {
    player1 : {
      name: "Konstantina", 
      scores: [ 12, 9, 8, 10, 14, 7, 28, 5, 6, 0, 5, 2, 1, 1, 9, 1, 1, 12]
    }, 
    player2 : {
      name: "Christos",
      scores: [ 22, 18, 10, 10, 10, 36, 11, 23, 51, 6, 6, 26, 3, 6, 5, 2, 0, 0]
    }
  }, -->
<script>

</script>

<%- include('end_file'); -%>