<nav class="navbar navbar-expand-lg navbar-dark">  

  <a class="navbar-brand"
     href="/home">
    <img src="/assets/Letter.png"
         width="30"
         height="30"
         class="d-inline-block align-top"
         alt="Img">
  </a>

  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold"
           href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link font-weight-bold"
           href="/scrabble-statistics">Scrabble Statistics <span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item active float-right">
        <a class="nav-link font-weight-bold"
           href="/5fe706f450a0c923cc4248e5">My Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold"
           href="/log-in">Log In <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold"
           href="/register">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold"
           href="/create-new-game">Create a new game!<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
