<%- include('partials/header'); -%>

<!-- Main content -->
<div class="main-content"
     id="panel">
    <!-- Navigation bar-->
    <%- include('partials/navigation_bar'); -%>
    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center error-page-bg-img">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-6"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10 col-sm-10">
                    <h1 class="display-2 text-white">Error 404: Page not found!</h1>
                    <p class="home-subtitle">This option is still under construction.</p>
                    <a href="/"
                       class="btn btn-neutral rounded-pill home-btn-start-game">Go back to Home Page</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
        </div>
        <!-- Footer -->
        <%- include('partials/footer'); -%>
    </div>
</div>

<%- include('partials/end_file'); -%>